@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --background-end-rgb: 215, 228, 192; */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #d7e4c0; /* global background colour */
}

.circle-button {
  @apply w-32 h-32 p-4 rounded-full flex items-center justify-center;
}

@keyframes streamIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animate-stream-in {
  animation: streamIn 0.8s ease-out forwards;
}
